# FILE HANDLING
# For saving admin details safely
# For Quiz Score report or Leaderboard
# Chat Bot
# 100:1 Student:Mentor (+Group Chat)
# Scoring System
# Live Video watch time points
# Healthy competetion student connection
# Group chat of 2
# Group chat of same college