    

    body {
      margin: 0;
      font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
      background: linear-gradient(90deg, navy, rgb(44, 167, 50));
      background-size: 100% 100%;
      animation: gradientCycle 8s ease-in-out infinite;
      min-height: 100vh;
      color: var(--text-color);
    }


    @keyframes gradientCycle {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }


    header img {
      margin-left: -20px !important;
      width: 70px !important;
      height: 68px !important;
      cursor: pointer !important;
    }
    header h1{
      margin-left: 0px  !important;
    }
    

    