{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{% static 'js/themes.js' %}"></script>
  <link rel="stylesheet" href="{% static "css/footer.css" %}">
  <title>Document</title>
</head>
  <footer>
    <div class="footer-container">
      <div class="footer-logo">
        <h2>EdTube</h2>
        <p>Empowering every learner with personalized tools, adaptive insights, and a connected community. EdTube transforms how students grow, one step at a time.</p>
        <div class="social-icons">
          <a href="tel:+917383916190" class="phoneIcon"><i class="fas fa-phone"></i></a>
          <a href="https://wa.me/917383916190" class="waIcon"><i class="fab fa-whatsapp"></i></a>
          <a href="https://instagram.com/" class="igIcon"><i class="fab fa-instagram"></i></a>
          <a href="https://facebook.com/" class="fbIcon"><i class="fab fa-facebook-f"></i></a>
          <a href="https://linkedin.com/" class="liIcon"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="footer-column">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="{%url 'index'%}">Home</a></li>
          <li><a href="{%url 'AboutUs'%}">About Us</a></li>
          <li><a href="{%url 'contact'%}">Contact</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Support</h3>
        <ul>
          <li><a href="{%url 'help'%}">Help Center</a></li>
          <li><a href="{%url 'faqs'%}">FAQs</a></li>
          <li><a href="{%url 'policy'%}">Privacy Policy</a></li>
          <li><a href="{%url 'terms'%}">Terms & Conditions</a></li>
          <li><a href="{%url 'reportIssue'%}">Report an Issue</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Get in Touch</h3>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> Ahmedabad, India</li>
          <li><i class="fas fa-phone"></i> Landline number</li>
          <li style="display: inline-flex !important;"><i class="fas fa-envelope" style="margin-top: 5px !important"></i> <a href="mailto:edtube.edu@gmail.com" style="padding-top: 0px !important">edtube.edu@gmail.com</a></li>
        </ul>
        <p style="margin-top:10px; color: var(--p-color);">Available Mon–Sat, 9 AM–6 PM IST.</p>
      </div>
    </div>
    <div class="footer-bottom" style="display: block !important">
      &copy; 2025 <strong>EdTube</strong>. All rights reserved.<br>
      Designed by <strong>Team EdTube</strong>.
    </div>
  </footer>
</html>
