{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'footer.css' %}">
  <title>Document</title>
</head>
<body>
    <header>
    <div style="display:flex; align-items:center;">
      <img src="{% static 'assets/EduNex.png' %}" alt="LOGO" onclick="window.location.href='Home'">
      <h1 onclick="window.location.href='Home'">EduNex</h1>
    </div>

    <nav>
      <a href="Home">Home</a>
      <a href="dashboard">Dashboard</a>
      <a href="register">Sign Up</a>
      <a href="login">Sign In</a>
      <a href="reviews">Reviews</a>
    </nav>

    <div class="hamburger" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="mobile-nav" id="mobileNav">
      <a href="Home">Home</a>
      <a href="dashboard">Dashboard</a>
      <a href="register">Sign Up</a>
      <a href="login">Sign In</a>
      <a href="reviews">Reviews</a>
    </div>
  </header>
    <script>
    function toggleMenu() {
      const nav = document.getElementById('mobileNav');
      nav.style.display = nav.style.display === 'flex' ? 'none' : 'flex';
    }
  </script>
</body>