{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EdTube Reviews</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/png" href="{%static 'assets/favicon.png'%}?v=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="{% static "css/reviews.css" %}">
</head>
<body>
  {%include 'navbar.html'%}
  <h1>Student Reviews</h1>

  <div class="review-container" id="reviewsList"></div>

  <div class="review-container add-review">
    <h2>Add Your Review</h2>

    <input type="text" id="nameInput" placeholder="Your Name">

    <div class="rating-container">
      <div class="rating" id="starRating">
        <span data-value="5">★</span>
        <span data-value="4">★</span>
        <span data-value="3">★</span>
        <span data-value="2">★</span>
        <span data-value="1">★</span>
      </div>
      
      <input type="hidden" id="ratingInput">
    </div>

    <textarea id="messageInput" placeholder="Write your feedback..."></textarea>

    <button>Submit Review</button>
  </div>
  <script src="{%static 'js/reviews.js'%}" defer></script>
</body>
</html>
